# Backend base URL
VITE_API_BASE_URL=/api
# Microsoft Entra ID Client ID
VITE_MSAL_CLIENT_ID=msal-client-id
# Microsoft Entra ID Tenant ID
VITE_MSAL_TENANT_ID=msal-tenant-id
# Default region of user. For more regions, please refer to ISO 3166-1 alpha-2 code
#   Examples
#     - GB: United Kingdom
#     - US: United States
#     - DE: Germany
VITE_DEFAULT_REGION_ABBREVIATION=GB
